<?xml version="1.0"?>
<launch>
<!-- MSC-RAD4R, urban and road sequences: URBAN_A0, LOOP_A0..LOOP_E0.
     Doppler RANSAC inliers only (enable_dynamic_object_removal). Traffic here is
     dense enough that moving vehicles bias the ego-velocity fit: turning this on
     takes URBAN_A0 from 5.385 to 2.627 and LOOP_C0 from 9.474 to 8.470. It costs
     the sparser sequences, which is why the rural launch leaves it off. -->

  <arg name="enable_rviz" default="false" />
  <arg name="bag_rate" default="1" />
  <arg name="bag_path" default="/root/data/Kaist_msc/" />
  <arg name="bag" default="URBAN_A0.bag" />
  <arg name="extrinsics_file" default="$(find gorio)/config/extrinsics_msc.yaml" />
  <arg name="odometry_edge_robust_kernel" default="NONE" />
  <arg name="odometry_edge_robust_kernel_size" default="5.0" />
  <arg name="preinteg_yaw_cap_ratio" default="0.1" />
  <arg name="odom_trans_cov_inflation_fwd" default="64.0" />
  <arg name="odom_trans_cov_inflation_lat" default="64.0" />
  <arg name="egovel_exclude_ground" default="false" />
  <arg name="egovel_elevation_thresh_deg" default="22.5" />
  <arg name="egovel_min_nonground" default="60" />
  <arg name="patchwork_erase_all_underground" default="true" />
  <arg name="result_prefix" default="/root/catkin_ws/results/msc_urban_a0" />
  <!-- Parameters -->
  <rosparam file="$(find gorio)/config/params_msc.yaml" command="load" />
  <param name="use_sim_time" value="true"/>
  
  <!-- arguments -->
  <arg name="nodelet_manager" default="radarslam_nodelet_manager" />
  <arg name="enable_dynamic_object_removal" default="true" />
  <arg name="enable_frontend_ego_vel" default="false" />
  <arg name="enable_preintegration" default="true" /><!-- master switch for the GP preintegration edge -->

  <arg name="keyframe_delta_trans_front_end" default="0.5" />
  <arg name="keyframe_delta_trans_back_end" default="1.0" /><!-- 0.5 0.8 1 2 -->
  <arg name="keyframe_delta_angle" default="0.1745" /><!-- 7.5°:0.1306 10°: 0.1745 15°: 0.2612 --> 
  <arg name="keyframe_delta_time" default="10.0" /> <!-- 1.0, 2.0 -->

  <arg name="enable_transform_thresholding" default="true" />
  <arg name="enable_loop_closure" default="false" />
  
  <!-- ICP NDT_OMP FAST_GICP FAST_APDGICP DOPP_APDGICP FAST_VGICP   -->
  <arg name="registration_method" default="FAST_APDGICP" />
  <arg name="reg_resolution" default="1.0" />
  
  <arg name="dist_var" default="0.86" />
  <arg name="azimuth_var" default="0.5" />
  <arg name="elevation_var" default="1.0" /><!-- 1.0 -->
  <arg name="lambda" default="0.01" />

  <!-- optional arguments -->

  <!-- transformation between lidar and base_link -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="lidar2base_publisher" args="0 0 0 0 0 0 base_link velodyne 10" /> -->
  
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen"/>

  <!-- radar_preprocessing_nodelet -->
  <node pkg="nodelet" type="nodelet" name="radar_preprocessing_nodelet" args="load radar_graph_slam/PreprocessingNodeletMSC $(arg nodelet_manager)">
    <param name="patchwork_erase_all_underground" value="$(arg patchwork_erase_all_underground)" />
    <param name="egovel_min_nonground" value="$(arg egovel_min_nonground)" />
    <param name="egovel_elevation_thresh_deg" value="$(arg egovel_elevation_thresh_deg)" />
    <param name="egovel_exclude_ground" value="$(arg egovel_exclude_ground)" />
    <rosparam file="$(arg extrinsics_file)" command="load" />
    <!-- distance filter -->
    <param name="use_distance_filter" value="true" />
    <param name="distance_near_thresh" value="1" />
    <param name="distance_far_thresh" value="200.0" />
    <param name="z_low_thresh" value="-5.0" />
    <param name="z_high_thresh" value="100.0" />
    <!-- NONE, VOXELGRID(0.1), or APPROX_VOXELGRID -->
    <param name="downsample_method" value="VOXELGRID" />
    <param name="downsample_resolution" value="0.1" />
    <!-- NONE, RADIUS 2(initial 0.5 2), STATISTICAL, or BILATERAL -->
    <param name="outlier_removal_method" value="RADIUS" />
    <param name="statistical_mean_k" value="30" />
    <param name="statistical_stddev" value="1.2" />
    <param name="radius_radius" value="2" />
    <param name="radius_min_neighbors" value="5" />
    <!-- Power Filterring -->
    <param name="power_threshold" value="0.0" />
    <!-- Ego Velocity Estimation -->
    <param name="enable_dynamic_object_removal" value="$(arg enable_dynamic_object_removal)" />
    <!-- ground truth publication -->
    <param name="gt_file_location" value="/media/wooseong/My\ Passport/4dradarslam/result_loop2/stamped_groundtruth.txt" />
  </node>


  <!-- plane_matching_odometry_nodelet -->
  <!-- <node pkg="nodelet" type="nodelet" name="plane_matching_odometry_nodelet" args="load radar_graph_slam/PlaneMatchingOdometryNodelet $(arg nodelet_manager)"> -->
  <node pkg="nodelet" type="nodelet" name="scan_matching_odometry_nodelet" args="load radar_graph_slam/ScanMatchingOdometryNodelet $(arg nodelet_manager)">
    <param name="keyframe_delta_trans" value="$(arg keyframe_delta_trans_front_end)" />
    <param name="keyframe_delta_angle" value="$(arg keyframe_delta_angle)" /> 
    <param name="keyframe_delta_time" value="$(arg keyframe_delta_time)" /> 
    <param name="keyframe_min_size" value="100" />
    <param name="enable_transform_thresholding" value="$(arg enable_transform_thresholding)" />
    <param name="max_acceptable_trans" value="1.5" />
    <param name="max_acceptable_angle" value="2" /><!-- degree -->
    <param name="max_diff_trans" value="0.3" />
    <param name="max_diff_angle" value="0.8" />
    <param name="max_egovel_cum" value="15" /><!-- 12m/s -->
    <param name="downsample_method" value="NONE" />
    <param name="downsample_resolution" value="0.1" />
    <!-- ICP, GICP, NDT, GICP_OMP, NDT_OMP, FAST_GICP(recommended), or FAST_VGICP -->
    <param name="registration_method" value="$(arg registration_method)" />
    <param name="dist_var" value="$(arg dist_var)" /><!--  -->
    <param name="azimuth_var" value="$(arg azimuth_var)" /><!--  -->
    <param name="elevation_var" value="$(arg elevation_var)" /><!--  -->
    <param name="lambda" value="$(arg lambda)" /><!--  -->
    <param name="reg_num_threads" value="0" />
    <param name="reg_transformation_epsilon" value="0.1"/>
    <param name="reg_maximum_iterations" value="64"/>
    <param name="reg_max_correspondence_distance" value="2.0"/>
    <param name="reg_max_optimizer_iterations" value="20"/>
    <param name="reg_use_reciprocal_correspondences" value="false"/>
    <param name="reg_correspondence_randomness" value="20"/>
    <param name="reg_resolution" value="$(arg reg_resolution)" />
    <param name="use_ego_vel" value="$(arg enable_frontend_ego_vel)"/>
  </node>

  <!-- radar_graph_slam_nodelet -->
  <node pkg="nodelet" type="nodelet" name="radar_graph_slam_nodelet" args="load radar_graph_slam/RadarGraphSlamNodelet $(arg nodelet_manager)" output="screen">
    <param name="odom_trans_cov_inflation_lat" value="$(arg odom_trans_cov_inflation_lat)" />
    <param name="odom_trans_cov_inflation_fwd" value="$(arg odom_trans_cov_inflation_fwd)" />
    <param name="preinteg_yaw_cap_ratio" value="$(arg preinteg_yaw_cap_ratio)" />
    <param name="result_prefix" value="$(arg result_prefix)" />
    <!-- optimization params -->
    <!-- typical solvers: gn_var, gn_fix6_3, gn_var_cholmod, lm_var, lm_fix6_3, lm_var_cholmod, ... -->
    <param name="g2o_solver_type" value="lm_var_cholmod" />
    <param name="g2o_solver_num_iterations" value="1024" />
    <!-- constraint switches -->
    <!-- keyframe registration params --> 
    <param name="max_keyframes_per_update" value="100" />
    <param name="keyframe_delta_trans" value="$(arg keyframe_delta_trans_back_end)" />
    <param name="keyframe_delta_angle" value="$(arg keyframe_delta_angle)" />
    <param name="keyframe_min_size" value="50" />
    <!-- fix first node for optimization stability -->
    <param name="fix_first_node" value="true"/>
    <param name="fix_first_node_stddev" value="10 10 10 1 1 1"/>
    <param name="fix_first_node_adaptive" value="true"/>
    <!-- Scan Context Loop Closure params 15 25 15 2.5 -->
    <param name="enable_loop_closure" value="$(arg enable_loop_closure)"/>
    <param name="enable_pf" value="true"/> <!-- loop prefiltering -->
    <param name="enable_odom_check" value="true"/>
    <param name="distance_thresh" value="10.0" />
    <param name="accum_distance_thresh" value="50.0" /><!-- Minimum distance beteen two edges of the loop -->
    <param name="min_loop_interval_dist" value="10.0" /><!-- Minimum distance between a new loop edge and the last one -->
    <param name="max_yaw_difference" value="20" /><!-- Maximum yaw difference beteen two edges' odometry -->
    
    <param name="sc_dist_thresh" value="0.5" /><!-- Matching score threshold of Scan Context 0.4-0.6 will be good -->
    <param name="sc_azimuth_range" value="56.5" />
    <param name="historyKeyframeFitnessScore" value="6" />
    <param name="odom_check_trans_thresh" value="0.3" />
    <param name="odom_check_rot_thresh" value="0.05" />
    <param name="pairwise_check_trans_thresh" value="1.5" />
    <param name="pairwise_check_rot_thresh" value="0.2" />
    <!-- scan matching params -->
    <param name="registration_method" value="$(arg registration_method)" />
    <param name="reg_num_threads" value="0" />
    <param name="reg_transformation_epsilon" value="0.1"/>
    <param name="reg_maximum_iterations" value="64"/>
    <param name="reg_max_correspondence_distance" value="2.0"/>
    <param name="reg_max_optimizer_iterations" value="40"/>
    <param name="reg_use_reciprocal_correspondences" value="false"/>
    <param name="reg_correspondence_randomness" value="20"/>
    <param name="reg_resolution" value="$(arg reg_resolution)" />
    <!-- edge params -->
    <!-- Gaussian process preintegration -->





    <!-- Preintegration  0.01 0.001 roll pitch best but yaw errr-->
    <param name="enable_preintegration" value="$(arg enable_preintegration)" />
      <param name="use_egovel_preinteg_trans" value="true" /><!-- Ego Velocity Integration - Translation -->



    <!-- scan matching -->
    <!-- robust kernels: NONE, Cauchy, DCS, Fair, GemanMcClure, Huber, PseudoHuber, Saturated, Tukey, Welsch -->
    <param name="odometry_edge_robust_kernel" value="$(arg odometry_edge_robust_kernel)" />
    <param name="odometry_edge_robust_kernel_size" value="$(arg odometry_edge_robust_kernel_size)" />
    <param name="loop_closure_edge_robust_kernel" value="Huber" />
    <param name="loop_closure_edge_robust_kernel_size" value="1.0" />
    <param name="use_const_inf_matrix" value="false" />
    <param name="const_stddev_x" value="0.5" />
    <param name="const_stddev_q" value="0.1" />
    <param name="var_gain_a" value="20.0" />
    <param name="min_stddev_x" value="0.1" />
    <param name="max_stddev_x" value="5.0" />
    <param name="min_stddev_q" value="0.05" />
    <param name="max_stddev_q" value="0.2" />
    <!-- update params -->
    <param name="graph_update_interval" value="2.0" />
    <param name="map_cloud_update_interval" value="6.0" />
    <param name="map_cloud_resolution" value="0.05" />
    <!-- marker params -->
    <param name="show_sphere" value="false" />
    <!-- ground truth publication -->
    <!-- <param name="gt_file_location" value="/media/wooseong/ws_ssdP/4dradarslam/gt_odom.txt" /> -->
    <!-- <param name="gt_file_location" value="/media/wooseong/ws_ssdP/4dradarslam/NTU4Dradlm/gt_odom/gt_odom_garden.txt" /> -->
    <!-- <param name="gt_file_location" value="/media/wooseong/ws_ssdP/4dradarslam/NTU4Dradlm/gt_odom/gt_odom_nyl.txt" /> -->
    <!-- <param name="gt_file_location" value="/media/wooseong/ws_ssdP/4dradarslam/NTU4Dradlm/gt_odom/gt_odom_loop1.txt" /> -->
    <!-- <param name="gt_file_location" value="/media/wooseong/ws_ssdP/4dradarslam/NTU4Dradlm/gt_odom/gt_odom_loop2.txt" /> -->
    <param name="gt_file_location" value="/media/wooseong/ws_ssdP/4dradarslam/NTU4Dradlm/gt_odom/gt_odom_loop3.txt" />
  </node>

  <node pkg="rviz" type="rviz" name="rviz_slam" args="-d $(find gorio)/rviz/radar_graph_slam.rviz" respawn="true" if="$(arg enable_rviz)"/>

  <!--- Rosbag Play -->
  
  <!-- Bag playback. Point `bag_path` at your own copy and pass `bag:=<name>.bag`. -->
  <node pkg="rosbag" type="play" name="player"
        args="--clock --rate=$(arg bag_rate) --duration=10000
              $(arg bag_path)$(arg bag)
              --topic /oculii_radar/point_cloud /imu/data" />

</launch>
